@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@700&family=Manrope:wght@400;700&family=Montserrat:wght@400;600&display=swap');

:root {
  --background-color: #f8f9fa;
  --white: #fff;
  --primary-pink: #9a55ff;
  --secondary-pink: #dac1ff;
  --light-pink: #f1ebfa;
  --gray: #697179;
}
body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: var(--background-color);
}

.wrapper {
  padding: 0px 10px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  max-width: 1300px;
}
.main {
  flex: 1 1 auto;
  margin-top: 10px;
}
