/* Ваши глобальные стили или reset-стили */
.slider {
}
.PostPage__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0; /* Цвет фона - замените на свой */
}

.header__leftColumn {
  flex: 1;
}

.slider__item {
  width: 100%;
  overflow: hidden;
}

.slider__item img {
  width: 100%;
  object-fit: scale-down;
  max-height: 600px;
}

.header__rightColumn {
  flex: 2;
  padding-left: 20px;
}

.header__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header__description {
  margin-top: 10px;
  font-size: 16px;
  text-align: justify;
  line-height: 1.5;
  color: #555; /* Цвет текста - замените на свой */
}

.noImageContainer {
  display: flex;
  justify-content: center;
}

.link {
  margin-top: 10px;
}
.link__title {
  font-size: 25px;
}

.createrBlock {
  padding: 20px;
  margin-top: 10px;
  background-color: #f0f0f0;
}

.createrBlock__title {
  font-weight: 600;
}

.createrBlock__categoriesTitle {
  margin: 10px 0px;
}
.nickname {
  font-size: 14px;
  font-weight: 600;
}

.commentsBlock {
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 20px;
}
