.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 25px 10px;
  /* Фон навбара */
}
.logo {
  font-size: 24px;
}
.logo__title {
  color: var(--primary-pink);
}

.buttons {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  gap: 20px; /* Промежуток между кнопками */
}
